.button {
  display: inline-block;
  padding: 1.6rem 5.7rem;
  @extend %font-style-main;
  color: $color-light;
  border: none;
  background: $main-gradient;
  @extend %text-center;
  @extend %text-uppercase;
  @extend %cursor-pointer;
  @extend %transition;
  &:hover {
    background: $color-button-hover;
  }

  &:active {
    background: $color-button-active;
  }

  &--main {
    width: 298px;
    border-radius: $button-radius-main;
  }

  &--second {
    width: 297px;
    border-radius: $button-radius-second;
    padding: 1.6rem 0;
  }
}
