.icon {
  display: inline-block;
  &--logo {
    width: 20.07px;
    height: 19.55px;
    background: url("../icons/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--arrow-down {
    width: 4px;
    height: 2.35px;
    background: url("../icons/accordion/arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
