.logo {
  @extend %flex;
  @extend %transition;
  &:hover {
    .logo__title {
      color: $color-accent;
      @extend %transition;
    }
  }
}

.logo__title {
  padding: 0.35rem 0 0;
  @include media-small-desktop {
    padding: 0;
  }
}
