.list {
  @extend %flex;
  @extend %al-items-center;
}

.list__item {
  &:not(:last-child) {
    padding: 0 $nav-padding 0 0;
  }
}

.list__link {
  @extend %font-add;
  @include font($main-size, $line-height-second);
  color: $color-link;
  @extend %transition;
  &:hover {
    color: $color-hover;
    opacity: 0.7;
  }
  &--active {
    color: $color-hover;
    opacity: 0.7;
  }
}
