.header__navigation {
  @extend %display-none;
  @include media-tablet {
    display: block;
    padding: 0 8px 0;
  }
}

.list {
  @extend %flex;
  @extend %al-items-center;
  gap: 4.8rem;
}

.list__link {
  @extend %font-add;
  @include font($second-size, $line-height-second);
  color: $color-link;
  @extend %transition;
  &:hover {
    color: $color-hover;
    opacity: 0.7;
  }
  &--active {
    color: $color-hover;
    opacity: 0.7;
  }
}
