.scroll {
  position: relative;
  max-width: 599px;
  width: 100%;
  min-height: 8px;
  @extend %flex;
  @include media-small-desktop {
    max-width: 390px;
  }
}

.scroll__line {
  display: block;
  width: 100%;
  background: $feedback-gradient;
  border: 1px solid transparent;
  border-radius: $button-radius-second;
  @extend %transition;
  &--progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 115.1px;
    height: 8px;
    background: $color-accent-second;
    border-radius: $button-radius-second;
    @extend %cursor-pointer;
    &:hover {
      background: $color-button-hover;
    }
    @include media-small-desktop {
      top: 0.5px;
      left: -4px;
      width: 75px;
      height: 7px;
    }
  }
}
