.position__img {
  position: absolute;
}

.hide-text {
  display: none;
  @include media-small-desktop {
    display: contents;
  }
}

.hide-for-sm-desktop {
  @include media-small-desktop {
    display: none;
  }
}
