.container {
  max-width: $content-width;
  margin: 0 auto;
  padding-inline: $inline-padding-content;

  @include media-small-desktop {
    max-width: $content-small-desktop;
  }

  @include media-tablet {
    max-width: $content-tablet;
  }
  @include media-mobile-big {
    max-width: $content-mobile;
    padding-inline: 1rem;
  }
}
