.container {
  max-width: $content-mobile-width;
  margin: 0 auto;
  padding-inline: $padding-space;
  @include media-tablet {
    max-width: $content-tablet-width;
  }

  @include media-desktop {
    max-width: $content-desktop-width;
  }
}
