body {
  min-width: 320px;
  @extend %flex;
  @extend %flex-column;
  @extend %js-content-space-between;
  font-family: $font-family-main;
  color: $color-text;
  background: $color-light;
  overflow: hidden;
}
