h1 {
  @include font($logo-title-size, $line-height-logo);
  color: $color-light;
}

h2 {
  @include font($title-size, $line-height-title);
}

h3 {
  @include font($description-size, $line-height-description);
}

h4 {
  @extend %subtitle-font;
}

h5 {
  @extend %font-style-main;
  font-weight: $regular;
  color: $color-dark;
}
