/* Color */

$color-background-section: #edf2ec;
$color-text-main: #636060;
$color-text-second: #717171;
$color-link: #010201;
$color-accent: #499a18;
$color-hover: #e06733;
$color-input-active: #c1e698;
$color-input-unactive: #d6e7d2;
$color-drop-btn-unactive: #aea1a1;
$color-drop-btn-active: #8ba07e;
$color-input-background: #dce9d9;

$color-dark: #000000;
$color-light: #ffffff;

/* Font size  */

$main-size: 2rem;
$main-size-mobile: 2.5rem;
$second-size: 1.6rem;
$accent-size: 4.5rem;
$section-size: 4rem;
$accordion-description-size: 1rem;

/* Line height */
$line-height-main: 2rem;
$line-height-text: 3.5rem;
$line-height-second: 5rem;
$line-height-header: 5.2rem;
$line-height-tag: 2.6rem;
$line-height-logo: 2.1rem;

/* Font Familly */

$font-family-main: "Inter", sans-serif;
$font-family-second: "Inika", serif;

/* Font weight */

$regular: 400;
$light: 300;
$bold: 700;

/* Padding, Margin */

$padding-space: 1.5rem;
$header-padding: 5rem;
$nav-padding: 4.4rem;

/* Container width */
$content-width: 1252px;
