.address {
  max-width: 448px;
  width: 100%;
  padding: 1.7rem 0 3.2rem 3.3rem;
  background: #edf2ec;
  border: 1px solid $color-dark;
  border-radius: $main-size;
}

.address__content {
  padding-bottom: 2.4rem;
}

.address__left {
  line-height: $line-height-dropdown-item;
  color: $color-dark;
}

.address__right {
  line-height: 2rem;
}

.address__button {
  width: 12rem;
  font-size: 1rem;
}
