%font-text {
  font-size: $main-size;
}
.backstage {
  position: relative;
  padding: 14rem 0 13rem;
  overflow: hidden;
  @include media-small-desktop {
    padding: 10rem 0 10rem;
  }
  @include media-tablet {
    padding: 6rem 0 5rem;
  }
  @include media-mobile-big {
    padding: 6rem 0 1.1rem;
  }
}

.backstage__container {
  display: grid;
  grid-template-columns: 2fr minmax(464px, 1fr);
  gap: 8.7rem;
  @include media-small-desktop {
    grid-template-columns: 2fr minmax(454px, 1fr);
    gap: 3.1rem;
  }
  @include media-tablet {
    grid-template-columns: minmax(300px, 495px);
    gap: 0;
  }
}

.backstage__picture {
  @include media-small-desktop {
    padding: 1rem 0;
  }
  @include media-tablet {
    display: none;
  }
}

.backstage__position-img {
  position: absolute;
  top: 13px;
  right: -293px;
  height: 605px;
  width: 293px;
  background: url("../images/page/flower.png");
  background-repeat: no-repeat;
  @include media-small-desktop {
    display: none;
  }

  @include media-tablet {
    display: block;
    width: 131px;
    height: 476px;
    top: -4px;
    right: 0;
    background: url("../images/flowers/tablet/flower.png");
    background-repeat: no-repeat;
  }
  @include media-mobile-big {
    width: 34px;
    height: 400px;
    top: -6px;
    right: 0;
    background: url("../images/flowers/mobile/flower.png");
    background-repeat: no-repeat;
  }
}

.backstage__title {
  margin: 0 0 2rem 0;
  @include media-tablet {
    margin: 0 0 2rem 0.3rem;
  }
  @include media-mobile-big {
    @include font($subtitle-size, $line-height-subtitle, $regular);
    margin: 0 0 0.9rem 0;
  }
}

.backstage__info {
  margin: 0 0 3.1rem 0;
  @extend %font-text;
  line-height: $line-height-info;
  @include media-small-desktop {
    margin: 0 0 5.4rem;
  }

  @include media-tablet {
    margin: 0 0 3rem;
  }

  @include media-mobile-big {
    margin: 0 0 2rem;
    padding-left: 0.1rem;
  }
}

.backstage__subtitle {
  margin: 0 0 3.4rem 0;
  @include media-tablet {
    margin: 0 0 2rem 3px;
    @include media-mobile-big {
      margin: 0 0 1rem 3px;
    }
  }
}

.backstage__text {
  line-height: $line-height-main;
  @extend %font-text;
}
