.contacts {
  padding: 2.5rem 0 0;
  background: $color-background-section;
  @include media-tablet {
    padding: 4rem 0 0;
  }
  @include media-small-desktop {
    padding: 6rem 0 0;
  }
}

.contacts__title {
  margin: 0 0 8.4rem;
  @include media-tablet {
    @include font($section-size, $line-height-header, $bold);
    margin: 0 0 10rem;
  }
  @include media-small-desktop {
    margin: 0;
  }
}

.contacts__wrapper {
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
  @include media-small-desktop {
    flex-direction: row-reverse;
    gap: 37rem;
    align-items: stretch;
    padding: 3.3rem 0 0 0;
  }
}
.contacts__content {
  padding: 0 0 12.7rem;
  width: 92%;
  @include media-tablet {
    width: 68%;
    padding: 0 0 25.2rem;
  }
  @include media-small-desktop {
    padding: 0;
  }
}

.contacts__dropdown {
  position: relative;
  background: $color-input-unactive;
  .dropdown__button {
    position: relative;
    width: 100%;
    padding: 1.6rem 0 1.4rem 2.1rem;
    text-align: left;
    letter-spacing: 0.05em;
    color: $color-text-second;
    background-color: transparent;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    @extend %cursor-pointer;
    @extend %transition;
    &::after {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      content: "";
      width: 16px;
      height: 16px;
      display: block;
      background-color: $color-drop-btn-unactive;
      background-image: url("../icons/accordion/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      pointer-events: none;
      @include media-tablet {
        right: 36px;
      }
    }
    &:focus {
      border: 1px solid $color-accent;
      border-radius: inherit;
      background: $color-input-active;
      box-shadow: none;
      outline: none;
      border: none;
      &::after {
        background-image: url("/src/icons/accordion/arrow-up.svg");
      }
    }
  }
  .dropdown__list {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 2.7rem 3.5rem 3.1rem 3.5rem;
    @extend %flex;
    @extend %flex-column;
    background: $color-input-background;
    white-space: normal;
    padding: 2.7rem 3.5rem 3.1rem 3.5rem;
    gap: 12px;
    &--hidden {
      display: none;
    }

    &-item {
      padding-left: 0.6rem;
      @include font($second-size, $line-height-dropdown-item);
      color: $color-accent;
      letter-spacing: 0.05em;
      @extend %transition;
      border-bottom: 1px solid $color-drop-down;
      @extend %cursor-pointer;

      &:hover {
        color: $color-text-second;
        @extend %transition;
        border-color: $color-text-second;
      }
    }
  }
  .dropdown__input-hidden {
    width: 100%;
    @extend %display-none;
  }
}

.contacts__img {
  margin: 0 0 0 2.1rem;
  @include media-small-desktop {
    margin: 0;
  }
}
