.footer__container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  & .layout-3-column {
    @extend %al-items-center;
  }
}

.footer-date,
.footer-logo {
  color: $color-dark;
}

.footer-social {
  @extend %flex;
  justify-content: end;
  @extend %transition;
}

.social-list {
  display: inline-flex;
}
.social-list__item {
  &:not(:last-child) {
    padding-right: 2.75rem;
  }
}
