.hero__container {
  @extend %flex;
  @extend %js-content-space-between;
}

.hero__content {
  max-width: 560px;
  width: 100%;
  @extend %flex;
  @extend %flex-column;
  @extend %flex-wrap;
}

.hero__title {
  margin: 0 0 4.2rem 0;
}

.hero__text {
  margin: 0 0 4.8rem 0;
  @extend %text-style;
}
