.hero {
  padding: 0 0 12.6rem 0;
  background: $color-background-section;
}
.hero__container {
  @extend %flex;
  @extend %al-items-center;
  @extend %js-content-space-between;
}

.hero__content {
  max-width: 560px;
  width: 100%;
  @extend %flex;
  @extend %flex-column;
}

.hero__title {
  margin: 0 0 4.2rem 0;
}

.hero__text {
  max-width: 535px;
  width: 100%;
  margin: 0 0 4.8rem 0;
  @extend %text-style;
}
