.pick-and-feed {
  padding: 6.9rem 0 10rem;
  background: $donate-gradient;
  @include media-small-desktop {
    padding: 3rem 0 5rem;
  }
  @include media-tablet {
    padding: 2rem 0 1.9rem;
  }
}

.pick-and-feed__container {
  max-width: 1190px;
  border-radius: $button-radius-main;
  @include media-small-desktop {
    max-width: $content-small-desktop;
  }
  @include media-tablet {
    max-width: 640px;
    padding-inline: 0;
  }
  @include media-mobile-big {
    max-width: 320px;
    padding-inline: 1rem;
  }
}

.pick-and-feed__content {
  @extend %flex;
  @extend %flex-column;
  @extend %js-content-center;
  @extend %al-items-center;
  padding: 4.1rem 0 6rem;
  background: $color-feed-background;
  border-radius: $section-radius;
  @include media-small-desktop {
    padding: 0 0 5rem;
  }
  @include media-tablet {
    max-width: 640px;
    width: 100%;
    padding: 0 0 6rem;
  }
  @include media-mobile-big {
    padding: 0 0 4rem;
  }
}

.pick-and-feed__text-info {
  padding: 0 0 5.9rem 4rem;
  @include media-small-desktop {
    max-width: 843px;
    width: 100%;
    padding: 2.9rem 0 4rem;
  }
  @include media-tablet {
    max-width: 600px;
    width: 100%;
    padding: 1rem 0 3rem;
  }
  @include media-mobile-big {
    padding: 2rem 0 0;
  }
}

.pick-and-feed__description {
  max-width: 863px;
}

.pick-and-feed__title {
  margin: 0 0 3rem 0;
  padding: 0 4rem 0 0;
  color: $color-accent-second;
  @extend %text-center;
  @include media-small-desktop {
    margin: 0 0 2.2rem;
    padding: 0;
  }
  @include media-tablet {
    @include font($header-size-tablet, $line-height-tablet, $regular);
    margin: 0 0 2.1rem 0;
  }
  @include media-mobile-big {
    margin: 0 0 1.1rem 0;
    @include font($subtitle-size, $line-height-subtitle, $regular);
  }
}

.pick-and-feed__subtitle {
  margin: 0 0 4rem 0;
  @extend %subtitle-font;
  @include media-small-desktop {
    margin: 0 0 1.9rem 0;
  }
  @include media-tablet {
    @include font($subtitle-size-tablet, $line-height-subtitle-tablet);
  }
  @include media-mobile-big {
    @include font(1.8rem, $line-height-main);
    text-align: center;
  }
}

.pick-and-feed__accent {
  @extend %font-style-main;
  line-height: $line-height-info;
  margin: 0 0 1rem 0;
  @include media-small-desktop {
    margin: 0 3rem 1rem 0;
  }
  @include media-tablet {
    margin: 0 0 1rem 0;
  }
  @include media-mobile-big {
    display: none;
  }
}

.pick-and-feed__description {
  @extend %font-style-main;
  line-height: $line-height-info;
  font-weight: $regular;
  @include media-mobile-big {
    display: none;
  }
}

.support-fundation {
  position: relative;
  @extend %transition;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    background: $color-accent-second;
    @include media-tablet {
      bottom: -1px;
    }
  }
  &:hover {
    color: $color-button-hover;
  }
}

.how-it-works {
  position: relative;
  padding: 0 0 6.5rem;
  @include media-small-desktop {
    padding: 0 0 7.4rem;
  }
  @include media-tablet {
    padding: 0 0 4.4rem;
  }
  @include media-mobile-big {
    padding: 0 0 3.9rem;
  }
}

.how-it-works__title {
  margin: 0 0 4rem;
  @extend %text-center;
  @include media-tablet {
    margin: 0 0 2rem;
  }
  @include media-mobile-big {
    @include font($subtitle-size, $line-height-subtitle, $regular);
  }
}

.how-it-works__cards {
  position: relative;
  max-width: 764px;
  @extend %flex;
  @extend %js-content-space-between;
  @include media-small-desktop {
    gap: 3.1rem;
  }
  @include media-tablet {
    max-width: 600px;
    width: 100%;
    gap: 4.2rem;
    justify-content: flex-start;
  }

  @include media-mobile-big {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .how-it-works__card:nth-of-type(2) {
      margin-bottom: 1rem;
    }
  }
}

.how-it-works__card {
  @extend %flex;
  @extend %flex-column;
  gap: 3rem;
  flex-basis: 168px;
  max-width: 168px;
  @include media-tablet {
    gap: 3.1rem;
  }
  @include media-mobile-big {
    gap: 1rem;
    min-height: 222px;
  }
}

.how-it-works__card-icon-block {
  width: 168px;
  height: 168px;
  @extend %flex;
  @extend %flex-column;
  @extend %js-content-center;
  @extend %al-items-center;
  border-radius: $button-radius-second;
  border: 1px solid transparent;
  background: $border-background;
}

.how-it-works__card-title {
  @include font($main-size, $line-height-info, $regular);
  @include media-small-mobile {
    max-width: 168px;
    width: 100%;
  }
}

.how-it-works__icon-step--first {
  position: relative;
  top: 61px;
  right: 0px;
  @include media-tablet {
    top: -49px;
    left: 131px;
    width: 100px;
    height: 96px;
    position: absolute;
    background: url("../icons/arrows/arrow-next-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  @include media-mobile-big {
    right: 0;
    left: 134px;
    top: 159px;
    transform: rotate(85deg);
  }
}

.how-it-works__icon-step--second {
  position: relative;
  top: 61px;
  right: 0;
  @include media-tablet {
    position: absolute;
    top: -20px;
    right: 160px;
    width: 100px;
    background: url("../icons/arrows/arrow-next-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  @include media-mobile-big {
    right: 0;
    left: 134px;
    top: 438px;
    transform: rotate(85deg);
  }
}
