/* Abstracts */ /* Color */
/* Font size  */
/* Line height */
/* Font Familly */
/* Font weight */
/* Border */
/* Padding, Margin */
/* Container width */
/* Meida quaries */
.services, .service__top, .about-us__container, .hero__content, .hero__container, .header__container, .list, .logo, body {
  display: flex;
}

.services {
  flex-wrap: wrap;
}

.hero__content, body {
  flex-direction: column;
}

.services, .about-us__container, .hero__container, .header__container, body {
  justify-content: space-between;
}

.service__top, .about-us__container, .hero__container, .header__container, .list, .logo {
  align-items: center;
}

.list__link, h4, h3 {
  font-family: "Inika", serif;
}

.about-us__text, .hero__text {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
  color: #636060;
}

.service-item__content {
  text-align: center;
}

.service-item:hover .service-item__img, .service-item:hover .service-item--opacity, .service-item, .list__link, .logo:hover .logo__title, .logo, .button {
  transition: ease-in-out 0.5s;
}

.service-item, .button {
  cursor: pointer;
}

/* Vendors */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  padding: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Base */
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #636060;
}

/*Basic styles*/
html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow: auto;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer,
header,
article {
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-size: 2rem;
  line-height: 2.1rem;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

h2 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

@font-face {
  font-family: "Inika";
  src: url("../fonts/../fonts/InikaRegular.woff") format("woff"), url("../fonts/../fonts/InikaRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inika";
  src: url("../fonts/../fonts/InikaBold.woff") format("woff"), url("../fonts/../fonts/InikaBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterRegular.woff") format("woff"), url("../fonts/../fonts/InterRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterBold.woff") format("woff"), url("../fonts/../fonts/InterBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/InterLight.woff") format("woff"), url("../fonts/../fonts/InterLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
/*Utilities  */
.container {
  max-width: 1252px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

/* Components */
.button {
  padding: 1.2rem 2.6rem;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  background: transparent;
  border: 2px solid #e06733;
  border-radius: 1rem;
}
.button:hover {
  color: #ffffff;
  background: #e06733;
}
.button--color {
  font-weight: 700;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 0.5rem;
}

.logo {
  font-size: 1.6rem;
}
.logo:hover .logo__title {
  color: #499a18;
}

.icon {
  display: inline-block;
}
.icon--logo {
  width: 20.07px;
  height: 19.55px;
  background: url("../icons/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.list__item:not(:last-child) {
  padding: 0 4.4rem 0 0;
}

.list__link {
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  color: #010201;
}
.list__link:hover {
  color: #e06733;
  opacity: 0.7;
}
.list__link--active {
  color: #e06733;
  opacity: 0.7;
}

.title--accent {
  color: #499a18;
}

/* Layout  */
.header {
  padding: 5rem 0;
  background: #edf2ec;
}

.hero {
  padding: 0 0 12.6rem 0;
  background: #edf2ec;
}

.hero__content {
  max-width: 560px;
  width: 100%;
}

.hero__title {
  margin: 0 0 4.2rem 0;
}

.hero__text {
  max-width: 535px;
  width: 100%;
  margin: 0 0 4.8rem 0;
}

.about-us {
  padding: 8.2rem 0 10.5rem;
}

.about-us__title {
  margin: 0 0 4rem 0;
  color: #e06733;
}

.about-us__content {
  max-width: 605px;
}

.about-us__text {
  line-height: 3rem;
}

.service {
  padding: 9.7rem 0 0;
  background: #edf2ec;
}

.service__top {
  gap: 14rem;
  padding: 0 0 9.7rem 0;
}

.service__title {
  color: #499a18;
}

.services__buttons button {
  padding: 1.2rem 4rem;
  color: #e06733;
}
.services__buttons button:not(:last-child) {
  margin-right: 2.8rem;
}

.services {
  gap: 5.5rem 0;
  padding: 0 0 12rem 0;
}

.service-item {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 2rem;
  overflow-x: hidden;
}
.service-item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.service-item:hover .service-item--opacity {
  opacity: 1;
}
.service-item:hover .service-item__img {
  transform: scale(1.055);
}
.service-item:hover .service-item__content {
  border: 0;
  border-radius: 0;
  z-index: 10;
  transform: translateY(-87.5px);
  background: hsl(0deg, 16%, 10%);
  color: #8ba07e;
}

.service-item--opacity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  border-radius: 2rem;
}

.service-item__img {
  border-radius: 2rem 2rem 0px 0px;
}

.service-item__content {
  max-width: 330px;
  padding: 1rem 0 3.6rem;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 2rem 2rem;
  transition: transform 2s;
}

.service-item__title {
  margin: 0 0 1rem 0;
  color: #e06733;
}

.service-item__description {
  font-size: 1.6rem;
  color: #717171;
}

/*# sourceMappingURL=main.css.map */
